<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AccountName" value="aismediaservice3" />
    <add key="AccountKey" value="LrOXhQRf/0R8X1TRHMMkLVtEMJsJtXV7MbRNi90ZiFY="/>
    <add key="EncodeTypes" value="H264 Broadband 1080p;H264 Broadband 720p;H264 Broadband SD 16x9;H264 Broadband SD 4x3;H264 Smooth Streaming 1080p;H264 Smooth Streaming 720p;H264 Smooth Streaming 720p for 3G or 4G;H264 Smooth Streaming SD 16x9;H264 Smooth Streaming SD 4x3;H264 Adaptive Bitrate MP4 Set 1080p;H264 Adaptive Bitrate MP4 Set 720p;H264 Adaptive Bitrate MP4 Set SD 16x9;H264 Adaptive Bitrate MP4 Set SD 4x3;H264 Adaptive Bitrate MP4 Set 1080p for iOS Cellular Only;H264 Adaptive Bitrate MP4 Set 720p for iOS Cellular Only;H264 Adaptive Bitrate MP4 Set SD 16x9 for iOS Cellular Only;H264 Adaptive Bitrate MP4 Set SD 4x3 for iOS Cellular Only;H264 Smooth Streaming 720p Xbox Live ADK;H264 Smooth Streaming Windows Phone 7 Series;Apple HLS Format"/>
    <!-- 512 KB Block-->
    <add key="DefaultBlockSize" value="524288"/>
    <add key="MobileApplicationKey" value="QCMjYHBSmHsUBLmbHdEmBKgZzTBgEF37"/>
    <add key="MobileServiceUrl" value="https://ais-dcm-mobile-service.azure-mobile.net"/>
    <add key="MobileServiceTableName" value="mediaserviceinfo"/>
  </appSettings>
</configuration>