<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
    <targets>
      <target name="exceptionTarget" xsi:type="File" fileName="${logDirectory}/log.txt"  layout="${longdate} ${callsite} ${level} ${message}"/>
    </targets>
    <rules>
      <logger name="Ais.Internal.Dcm.ModernUIV2.*" minlevel="Debug" maxlevel="Error" writeTo="exceptionTarget"  />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="AccountName" value="aismediaservice3" />
    <add key="AccountKey" value="LrOXhQRf/0R8X1TRHMMkLVtEMJsJtXV7MbRNi90ZiFY=" />-->
    <add key="AccountName" value="mediaservicetag" />
    <add key="AccountKey" value="DPwQZiwqfOqER7OG2De9c+ve7liauHgncPA5iQnsHdY=" />
    <add key="EncodeTypes" value="H264 Broadband 1080p;H264 Broadband 720p;H264 Broadband SD 16x9;H264 Broadband SD 4x3;H264 Smooth Streaming 1080p;H264 Smooth Streaming 720p;H264 Smooth Streaming 720p for 3G or 4G;H264 Smooth Streaming SD 16x9;H264 Smooth Streaming SD 4x3;H264 Adaptive Bitrate MP4 Set 1080p;H264 Adaptive Bitrate MP4 Set 720p;H264 Adaptive Bitrate MP4 Set SD 16x9;H264 Adaptive Bitrate MP4 Set SD 4x3;H264 Adaptive Bitrate MP4 Set 1080p for iOS Cellular Only;H264 Adaptive Bitrate MP4 Set 720p for iOS Cellular Only;H264 Adaptive Bitrate MP4 Set SD 16x9 for iOS Cellular Only;H264 Adaptive Bitrate MP4 Set SD 4x3 for iOS Cellular Only;H264 Smooth Streaming 720p Xbox Live ADK;H264 Smooth Streaming Windows Phone 7 Series;Apple HLS Format" />
    <!-- 512 KB Block-->
    <add key="DefaultBlockSize" value="524288" />
    <add key="MobileApplicationKey" value="QCMjYHBSmHsUBLmbHdEmBKgZzTBgEF37" />
    <add key="MobileServiceUrl" value="https://ais-dcm-mobile-service.azure-mobile.net" />
    <add key="MobileServiceTableName" value="mediaserviceinfo" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ServiceUri" value="http://aismediaapi.azurewebsites.net"/>
    <add key="Username" value="aisadmin"/>
    <add key="Password" value="aisadmin"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>