@{
    ViewBag.Title = "WAMS Tool Provisioning Status";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>WAMS Manager Site Provisioning</title>
    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/style.css")
</head>
<body>
<div class="tenantProvisionerContainer">
    <h3 class="page-header">@ViewBag.Title</h3>
    <div style="font-size:18px; text-align:left; margin-left:auto;">
        @ViewBag.Feedback
    </div>
</div>
</body>
</html>
